
.DS_Store
Labs/.DS_Store
Labs/Lab2/.RData
Labs/Lab2/.Rhistory
Labs/Lab3/.DS_Store
Labs/Lab3/lab.css
Labs/Lab3/more/bdims.RData
Labs/Lab3/more/Body.csv
Labs/Lab3/more/description-of-bdims.txt
Labs/Lab3/more/histQQmatch.pdf
Labs/Lab3/more/histQQmatch.png
Labs/Lab3/more/qqnormsim.R
Labs/Lab3/rsconnect/documents/Data 606 Lab 3.Rmd/rpubs.com/rpubs/Document.dcf
Labs/Lab3/rsconnect/documents/Data 606 Lab 3.Rmd/rpubs.com/rpubs/Publish Document.dcf
Labs/Lab5/inf_for_numerical_data.html
Labs/Lab5/jp-inf_for_numerical_data.Rmd
Labs/Lab5/lab.css
Labs/Lab5/Lab6/inf_for_categorical_data.html
Labs/Lab5/Lab6/jp-inf_for_categorical_data.Rmd
Labs/Lab5/Lab6/lab.css
Labs/Lab5/Lab6/more/atheism.csv
Labs/Lab5/Lab6/more/atheism.RData
Labs/Lab5/Lab6/more/atheism05.csv
Labs/Lab5/Lab6/more/atheism12.csv
Labs/Lab5/Lab6/more/dataprep-code.R
Labs/Lab5/Lab6/more/Global_INDEX_of_Religiosity_and_Atheism_PR__6.pdf
Labs/Lab5/Lab6/more/table4.csv
Labs/Lab5/Lab6/more/table6.csv
Labs/Lab5/more/1000births.xlsx
Labs/Lab5/more/2000births.txt
Labs/Lab5/more/data-processing-code.R
Labs/Lab5/more/nc.csv
Labs/Lab5/more/nc.RData
Labs/Lab5/more/ncbirths.csv
